/* Allgemeine Styling-Regeln */
* {
  box-sizing: border-box;
}

body{
  color: #1a1b1f !important;
  font-family: Montserrat, sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.menu {
  float: right;
  position: relative;
}

.navigation-item {
  opacity: 0.6;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.intro-header {
  color: #fff;
  background-color: #f4f4f4;
  background-image: url("/public/HomepageBackground.jpg");
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 620px;
  margin-bottom: 100px;
  display: flex;
}

.intro-content {
  text-align: center;
  width: 70%;
  max-width: 1140px;
  margin-bottom: 20px;
}

.intro-text {
  width: 80%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.heading-jumbo {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
}

.paragraph-bigger {
  opacity: 1;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-bigger.bigger-light {
  opacity: .6;
}

.secondary-button {
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}

.container {
  width: 100% !important;
  max-width: 1140px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.main-heading-wrap {
  margin-bottom: 60px;
}

.divider {
  background-color: #eee;
  height: 1px;
}

.main-paragraph-wrap {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-areas: ". .";
  margin-top: 60px;
  margin-bottom: 150px;
}

.layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.paragraph-light {
  opacity: .6;
  letter-spacing: 0;
  text-transform: none;
  font-size: 14px;
  line-height: 26px;
}


#left {
  grid-area: 1 / 1 / 2 / 2;
}

#right {
  grid-area: 1 / 2 / 2 / 3;
}

.products-heading {
  text-align: center;
  margin-bottom: 80px;
}

.collection-wrap {
  padding: 0 30px;
  flex-wrap: wrap;
  place-content: flex-start center;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.collection-item {
  width: 33.33%;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.product-image-wrap {
  color: #fff;
  background-color: #f4f4f4;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 620px;
  transition: opacity .6s;
  display: block;
  position: relative;
}

.product-description {
  position: absolute;
  inset: auto auto 30px 30px;
}

.product-name-text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  color: black;
}

.product-price-text {
  opacity: .6;
  font-size: 14px;
  line-height: 26px;
  color:#333;
}

.section {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 100px;
  padding-bottom: 70px;
}

.section.product-detail {
  align-items: center;
  display: flex;
}

.product-image {
  background-color: #f4f4f4;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 700px;
  margin-bottom: 30px;
  display: flex
;
}

.product-details-wrap {
  width: 50%;
  max-width: 470px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.product-detail-main-details {
  margin-bottom: 30px;
}

.product-detail-name {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 52px;
}

.product-detail-price {
  opacity: .6;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 52px;
}

.divider.dark-divider {
  background-color: #202020;
  height: 1px;
}

.product-informations {
  margin-top: 25px;
  margin-bottom: 25px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

.list-item {
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex
;
}

li {
  margin-bottom: 10px;
}

.product-detail-unit-text {
  margin-left: 6px;
}

label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.quantity-field-label {
  margin-bottom: 0;
}

.product-detail-wrap {
  margin-top: 0;
  display: flex;
}

.text-field {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 21px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field.quantity-field {
  background-color: #fff;
  border-color: #e6e6e6;
  width: 80px;
  height: auto;
  margin-bottom: 0px;
  margin-right: 10px;
  padding: 8px 12px 8px 20px;
}

.addtocartquantityinput {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 60px;
  height: 38px;
  margin-bottom: 10px;
  padding: 8px 6px 8px 12px;
  line-height: 20px;
  display: block;
}

.primary-button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border-radius: 0;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.primary-button.add-to-cart-btn {
  margin-top: 10px;
  margin-right: 10px;
}

.add-to-cart {
  margin-top: 30px;
}

.container.heading-wrap {
  text-align: center;
}

.store-categories-wrap {
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.products-category-link {
  color: #43464d;
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.collection-list {
  justify-content: center;
  display: flex;
}


.products-category-link.current {
  opacity: 1;
  letter-spacing: 1px;
  font-weight: 600;
}

a {
  color: #43464d;
  text-decoration: underline;
  transition: opacity .2s;
  display: block;
}

.logo-link {
  padding-left: 30px;
  z-index: 1;
}

.nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.about-pictures-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      ". . ."
      ". . .";
  margin-bottom: 150px;
}

.layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.picture-placeholder {
  background-color: #f4f4f4;
  background-position: 45%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 460px;
}

.picture-placeholder.about-top {
  background-image: url("/public/feejay_raum.JPG");
  background-position: 50%;
  background-size: cover;
}

#top {
  grid-area: 3 / 2 / 4 / 4;
}

.picture-placeholder.about-middle {
  background-image: url("/public/HomepageBackground.jpg");
  background-position: 50%;
  background-size: cover;
  height: 620px;
}

#middle {
  grid-area: 2 / 1 / 3 / 4;
}

.picture-placeholder.about-bottom {
  background-image: url("/public/feejay_tower.jpg");
  background-position: 50%;
  background-size: cover;
}

#bottom {
  grid-area: 1 / 1 / 2 / 3;
}

.about-quote {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.about-container {
  padding: 0 0 100px 0;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form-wrap {
  flex-direction: column;
  align-items: stretch;
  width: 70%;
  margin-bottom: 100px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
}

.form {
  margin: 0 0 15px;
}

.contact-form {
  flex-direction: column;
  display: flex;
}

.credentials-inputs-wrap {
  display: flex;
}

.contact-name-field-wrap {
  width: 50%;
  padding-right: 10px;
}

.text-field.contact-field {
  margin-bottom: 25px;
}

.input {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.email-name-field-wrap {
  width: 50%;
  padding-left: 10px;
}

.text-field.textarea {
  height: 200px;
  padding-top: 12px;
}

.footer {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template:
      ". . . . ."
      ". . . . ." / 2fr 1fr 1fr 1.25fr 1fr;
  place-items: start;
}

.footer-link {
  color: #43464d;
  opacity: .6;
  margin-bottom: 15px;
  font-size: 14px;
  text-decoration: none;
  transition: color .2s, opacity .2s;
}

.links-section-footer {
  margin-top: 40px;
}

.layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

#logo-footer {
  grid-area: 1 / 1 / 2 / 2;
}

#menu-top, #menu-content {
  grid-area: 1 / 2 / 2 / 3;
}

#help-top, #help-content {
  grid-area: 1 / 3 / 2 / 4;
}

#legal-top, #legal-content {
  grid-area: 1 / 4 / 2 / 5;
}

#follow-top, #follow-content {
  grid-area: 1 / 5 / 2 / 6;
}

.cart-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.empty-cart {
  text-align: center;
  font-size: 18px;
  opacity: 0.6;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-list {
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.cart-item-details {
  flex: 1;
  margin-left: 15px;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  display: block;
  margin-top: 5px;
  color: #777;
}

.cart-quantity-input {
  width: 60px;
  padding: 5px;
  text-align: center;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: red;
}

.cart-summary {
  text-align: right;
  margin-top: 20px;
}

.total-price {
  font-size: 24px;
}

.clear-cart-button {
  background: #d9534f;
  color: white;
}

.checkout-button {
  background: #5cb85c;
  color: white;
}

.checkout-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.continue-shopping {
  display: block;
  text-align: center;
  font-size: 18px;
}

.checkout-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.success-message {
  text-align: center;
  font-size: 20px;
  color: green;
}

.checkout-divider {
  margin: 0 auto 10px;
  width: 100%;
  max-width: 600px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.checkout-item {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.checkout-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkout-adress-input {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.checkout-input {
  width: 100%; /* Maximiert die Eingabefelder */
}


.total-price.checkout {
  margin-top: 10px;
  margin-bottom: 50px
}

.primary-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.cart-badge {
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 50%;
  margin-left: 5px;
}

